body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #343a40;
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    text-align: center;
    color: #6c757d;
  }
  
  div {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #0056b3;
  }
  
  span {
    color: #6c757d;
  }
  