body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 90px;
  padding: 0;
}

h1 {
  color: #343a40;
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  color: #6c757d;
}

div {
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  border: 2px solid grey;
  background-color: black;
  border-radius: 89px;
  padding: 3px 9px;
  margin: 9px;
}

a:hover {
  color: grey;
}

span {
  color: #6c757d;
}

.Sam {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
  width: 300px; 
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; 
}
.email{
  text-align: center;
  margin-bottom: 9px;
  margin-right: 35px;
  text-decoration: solid;
  padding-right: 6px;
}
.input{
  border-radius: 9px;
}
.input2{

  border-radius: 9px;
}
.label2{
  margin-right: 5%;
}
.login{
  margin-top: 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 7px;
  box-shadow: 3 3 3 3 black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.login:hover {
  color: grey;
  transition: 0.75s;

}